@import 'modules/reset';
@import 'modules/header';

body {
    font-family: 'Open Sans', sans-serif;
    color: rgb(30, 30, 29);
    background: rgb(203, 219, 215);
}

a {
    text-decoration: none;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    color: rgb(11, 125, 170);
}

a:hover,
a:focus {
    color: rgb(0, 123, 196);
}

.articles {
    margin: 0 auto;
    padding-top: 0.5rem;
}

@media (min-width: 650px) {
    .articles {
        -ms-flex-item-align: center;
        align-self: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
}

.articles li {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0.5rem 0;
    padding: 1.2rem 1rem;
}

@media (min-width: 650px) {
    .articles li {
        border-bottom: 0;
        margin: 0.5rem 1%;
        padding: 1rem;
        width: 48%;
    }
}

@media (min-width: 1080px) {
    .articles li {
        width: 31.33%;
    }
}

.articles time,
.article time {
    display: block;
    margin-bottom: 0.25rem;
    line-height: 1.1;
    font-family: 'Coming Soon', cursive;
    font-weight: 700;
    font-size: 0.95rem;
    color: rgb(107, 75, 160);    
}

.articles a {
    display: inline-block;
    max-width: 100%;
    font-weight: 700;
    font-size: 2.15rem;
    line-height: 1.1;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    word-wrap: break-word;
    color: rgb(2, 132, 168);
}

.articles a:hover,
.articles a:focus {
    color: rgb(2, 190, 196);
}

.article > header {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 2.4em 0 2.3em;
    text-align: center;
}

.article time {
    font-weight: 700;
    line-height: 1.1;
    display: block;
    font-size: 1.2em;
    font-weight: 500;
}

.article h1 {
    font-weight: 700;
    line-height: 1.1;
    color: #f8f8f8;
    font-size: 3.2em;
    font-weight: 900;
    margin: 0 auto;
    max-width: 95%;
}

@media (min-width: 620px) {
    .article h1 {
        font-size: 5.5vw;
    }
}

.article .content {
    font-size: 1.15rem;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 850px;
    width: 93%;
}

.article .content pre {
    font-size: 0.75rem;
}

.footer {
    border-top: 6px solid rgb(11, 125, 170);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 1em auto 2em;
    max-width: 720px;
    overflow: hidden;
    text-align: center;
    width: 95%;
}

.footer > a {
    line-height: 1.1;
    display: inline-block;
    font-size: .95rem;
    font-weight: 700;
    padding: .55rem;
}
