<div class="about-me big-talker">
    <div class="my-big-dumb-faces"></div>

    <div class="all-about-me">
        <!--<p class="intro">
            The most important thing to know about me as a developer, 
            and human is that I act accordingly.
        </p>
        <p class="i-care">
            I care about the type and quality of work, I'm putting out intro the word.
            It's important that I belive in the motivations and goals of the projects.
            I've plenty of practical skills and experience, but the quality of
            carring is what makes a great developer.
        </p>
        <p class="programming">
            Programming is a means to an end. I've ideas and want to see them
            come to life. I use code to make these ideas to reality.
            I push my self to learn new languages, frameworks, platforms and practicies.
            No language is off limits and I don't shy away from learning difficult
            concepts. Development technologies are in constant flux and love it.
        </p>-->

        <p class="number-one">
      The most important thing to know about me as a designer, developer,
      and human is that <strong>I give a shit</strong> and act accordingly.
    </p>

    <p>
      I care about the type and quality of work I’m putting out into the world.
      It’s important that I believe in the motivations and goals of the projects I work on
      and the people I work with. I have plenty of practical skills and
      experience, but the quality of caring is what makes me a great
      designer and developer.
    </p>

    <div class="more-on">
      <div class="on-development">
        <h3>On Development</h3>
        <p>
          Programming is a means to an end. I have ideas and want
          to see them come to life. I use code to make those
          ideas reality. That doesn’t mean that I approach programming
          as a craft with any less enthusiasm or care as design.

          I push myself to learn new languages, frameworks, and practices.
          No language is off limits and I don’t shy away from learning
          difficult concepts. Development technologies are in constant flux
          and I love it.
        </p>
      </div>
    </div>
  </div>

  <div class="design-to-me">
    Design to me is about influencing human behavior. I use my skills to encourage,
    engage, entertain, entangle, envelop, and enrage.
  </div>
    </div>
</div>