<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title><%= title %></title>

		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&amp;subset=cyrillic,cyrillic-ext" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">

		<link rel="stylesheet" href="/css/styles.css">
		<link rel="stylesheet" href="/css/prism.css">

		<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-111651948-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111651948-1');
</script>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-NMM8T2N');</script>
	<!-- End Google Tag Manager -->

	</head>
	<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NMM8T2N"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

		<header class="header">
			<div class="logo"></div>
			<nav class="nav">
				<ul>
					<li>
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/projects">Projects</a>
					</li>
					<li>
						<a href="/about">About</a>
					</li>
				</ul>
			</nav>
		</header>

		<main class="main">
			<%- body %>
		</main>

		<footer class="footer">
			<div class="nav">
				<a href="https://twitter.com/csyntaxdev">Twitter</a>
				<a href="https://github.com/csyntax">GitHub</a>
				<br>
				<a href="mailto:csyntax@outlook.com">csyntax@outlook.com</a>
			</div>
		</footer>

		<script src="/js/prism.js"></script>
	</body>
</html>