/*
About page
*/

.about-me {
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    padding-top: 1.6em;
    position: relative;
}

.my-big-dumb-faces {
    background: transparent url("/img/face.png") no-repeat top;
    background-size: 97%;
    box-sizing: border-box;
    padding-top: 66%;
    width: 100%;
}

@media (min-width: 820px) {
    .my-big-dumb-faces {
        background-size: 95%;
        background-image: url(/img/man.png);
        padding-top: 0;
        width: 40%;
    }
}

.all-about-me {
    box-sizing: border-box;
    font-size: 1.2em;
    margin: 0 auto;
    line-height: 1.5;
    padding-top: .8em;
    width: 93%;
}

@media (min-width: 570px) {
    .all-about-me {
        font-size: 1.4em;
    }
}

@media (min-width: 820px) {
    .all-about-me {
        padding-right: 4%;
        padding-left: 2%;
        padding-bottom: 1.2em;
        width: 60%;
    }
}

.big-talker .number-one {
    color: #f8f8f8!important;
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.4;
    margin-top: .3em;
    text-align: center;
}

.big-talker p {
    color: #d3d3d3;
    padding-bottom: 1.4em;
}

@media (min-width: 720px) {
    .big-talker .number-one, 
    .skills {
        font-size: 1.4em;
    }
}

@media (min-width: 820px) {
    .big-talker .number-one {
        font-size: 1.3em;
        text-align: left;
    }
}
