$black: rgb(30, 30, 29);
$groovy: rgb(51, 51, 51);
$green: rgb(94,234,139);
$blue: rgb(27, 105, 242);

.about-me {
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;

    .my-big-dumb-faces {
        background: transparent url("/img/man.png") no-repeat top;
        background-size: contain;
        box-sizing: border-box;
        padding-top: 66%;
        width: 100%;
    }

    .all-about-me {
        box-sizing: border-box;
        font-size: 1.2em;
        margin: 0 auto;
        line-height: 1.5;
        padding-top: .8em;
        width: 93%;

        .number-one {
            color: $black;
            font-size: 1.25rem;
            font-weight: 900;
            font-style: italic;
            line-height: 1.5;
            text-align: center;
        
            &:after {
                display: block;
                margin: 1.25rem auto;
                line-height: 1;
                width: 25%;
                height: 0.35rem;
                content: "";
                background: $green;
            }
        }
        
        p:not(.number-one) {
            font-weight: 700;
            color: $groovy;
            padding-bottom: 1.35rem;
        }
    }
}

@media (min-width: 570px) {
    .about-me {
        .all-about-me {
            font-size: 1.4em;
        }
    }    
}

@media (min-width: 720px) {
    .about-me {
        .all-about-me {
            .number-one {
               font-size: 1.45rem;
           }
        }
    }
}

@media (min-width: 820px) {
    .about-me {
        .my-big-dumb-faces {
            background-size: 95%;
            background-image: url("/img/man.png");
            padding-top: 0;
            width: 40%;
        }

        .all-about-me {
            padding-right: 4%;
            padding-left: 2%;
            padding-bottom: 1.25rem;
            width: 60%;

            .number-one {
                font-size: 1.75rem;
                //text-align: left;
            }
        }
    }
}

.the-site {
    -ms-flex-item-align: center;
    align-self: center;
    background: hsla(0, 0%, 40%, 0.1);
    border: 1px solid hsla(0, 0%, 40%, 0.1);
    box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 1.2em auto 0;
    padding: 1em 1.2em;
    width: 95%;
}

/*
.the-site p {
    color: #d3d3d3;
    padding-bottom: 1.4em;
}*/

/*
This need optimize
*/

.bold-statements {
    font-weight: 700;
    line-height: 1.1;
    font-size: 2.4em;
    font-weight: 900;
    margin: 0 auto;
    padding-top: .6em;
    text-align: left;
    text-transform: uppercase;
    width: 93%;
}

.bold-statements a {
    display: inline-block;
    border-bottom: 0.45rem solid $blue;
    position: relative;
    text-decoration: none;
    -webkit-transition: color 0.25s;
    transition: color 0.25s;
}

.bold-statements a:focus,
.bold-statements a:hover {
    color: lighten($color: $blue, $amount: 1.5);
}

@media (min-width: 650px) {
    .bold-statements {
        font-size: 4.8vw;
        text-align: center;
        width: 100%;
    }    
}

@media (min-width: 1100px) {
    .bold-statements {
        padding-top: .5em;
    }
}

.skills {
    box-sizing: border-box;
    color: #d3d3d3;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 0 auto;
    /*width: 93%;*/

    h3 {
        color: $blue;
        font-size: 1.75rem;
        font-weight: 900;
        padding-bottom: 0.95rem;
    }

    ul {
        list-style: none;

        li {
            h4 {
                color: $green;
                font-size: 1.105rem;
                padding-bottom: 0.15rem;
            }

            p {
                font-weight: 500;
                font-size: 0.995rem;
                line-height: 1.5;
            }
        }
    }
}

@media screen and (min-width: 555px) {
    .skills ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;

        li {
            width: 48%;
        }
    }
}