$black: rgb(30, 30, 29);
$groovy: rgb(51, 51, 51);
$green: rgb(94,234,139);
$blue: rgb(27, 105, 242);

.about-me {
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;

    .my-big-dumb-faces {
        background: transparent url("/img/man.png") no-repeat top;
        background-size: contain;
        box-sizing: border-box;
        padding-top: 66%;
        width: 100%;
    }

    .all-about-me {
        box-sizing: border-box;
        font-size: 1.2em;
        margin: 0 auto;
        line-height: 1.5;
        padding-top: .8em;
        width: 93%;

        .number-one {
            color: $black;
            font-size: 1.25rem;
            font-weight: 900;
            font-style: italic;
            line-height: 1.5;
            text-align: center;
        
            &:after {
                display: block;
                margin: 1.25rem auto;
                line-height: 1;
                width: 25%;
                height: 0.35rem;
                content: "";
                background: $green;
            }
        }
        
        p:not(.number-one) {
            font-weight: 800;
            font-size: 1rem;
            color: $groovy;
            padding-bottom: 1.15rem;
            text-align: justify;
        }

        .i-care:first-letter {
            float: left;
            margin-top: -1.75rem;
            padding-right: 0.15rem;
            font-size: 800%;
            font-weight: 900;
            line-height: 1.15;
            color: $blue;
        }

        .programming {
            margin: 0 auto;
            width: 90%;
            color: $black;
        }
    }

    .skills {
        margin: 0 auto;
        box-sizing: border-box;
        line-height: 1.5;
        font-size: 1.25rem;
    
        h3 {
            color: $blue;
            font-size: 1.75rem;
            font-weight: 900;
            padding-bottom: 0.95rem;
        }
    
        ul {
            list-style: none;
    
            li {
                h4 {
                    color: $green;
                    font-size: 1.105rem;
                    padding-bottom: 0.15rem;
                }
    
                p {
                    font-weight: 600 !important;
                    font-size: 0.95rem !important;
                    line-height: 1.5;
                    text-align: left !important;
                }
            }
        }
    }
}

@media screen and (min-width: 555px) {
    .about-me {
        .skills ul {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;

            li {
                width: 48%;
            }
        }
    }
}

@media (min-width: 570px) {
    .about-me {
        .all-about-me {
            font-size: 1.45rem;
        }
    }    
}

@media (min-width: 720px) {
    .about-me {
        .all-about-me {
            .number-one {
               font-size: 1.45rem;
           }
        }
    }
}

@media (min-width: 820px) {
    .about-me {
        .my-big-dumb-faces {
            background-size: 95%;
            background-image: url("/img/man.png");
            padding-top: 0;
            width: 40%;
        }

        .all-about-me {
            padding-right: 4%;
            padding-left: 2%;
            padding-bottom: 1.25rem;
            width: 60%;

            .number-one {
                font-size: 1.75rem;
            }
        }
    }
}