$green: rgb(94,234,139);
$blue: rgb(13, 94, 229);
.article {
    header {
        @include border-box();
        text-align: center;
        line-height: 1.5;

        ::selection {
            background: $blue;
        }

        h1 {
            margin: 0 auto;
            max-width: 95%;
            font-weight: 900;
            font-size: 3rem;
            color: $green;
            line-height: 1.1;
        }

        time {
            display: block;
            margin: 0.55rem auto;
            font-size: 1.25rem;
            font-weight: 700;
            color: rgb(107, 75, 160); 
        }
    }

    .content {
        margin: 0 auto;        
        max-width: 850px;
        width: 95%;

        ::selection {
            background: rgb(201, 140, 160);
        }

        p {
            margin-bottom: 0.55rem;
            line-height: 1.5;
            font-size: 1.15rem;
            font-weight: 600;
        }
    
        pre {
            font-size: 0.75rem;
        }
    }
}

@media (min-width: 620px) {
    .article header h1 {
        font-size: 5.5vw;
    }
}