.articles {
    margin: 0 auto;
    padding-top: 0.5rem;

    li {
        margin: 0.5rem 0;
        padding: 1.25rem 1rem;
        @include border-box();

        time {
            display: block;
            margin-bottom: 0.25rem;
            line-height: 1.1;
            font-weight: 700;
            font-size: 0.95rem;
            color: rgb(66, 218, 67);  
        }

        a {
            display: inline-block;
            max-width: 100%;
            font-weight: 700;
            font-size: 2.15rem;
            line-height: 1.1;
            -webkit-transition: all 0.5s;
            transition: all 0.5s;
            word-wrap: break-word;
            color: rgb(36, 112, 231);
        
            &:hover,
            &:focus {
                color: rgb(52, 152, 219);
            }
        }
    }
}

@media (min-width: 650px) {
    .articles {
        -ms-flex-item-align: center;
        align-self: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;

        li {
            margin: 0.5rem 1%;
            padding: 1rem;
            width: 48%;
        }
    }
}

@media (min-width: 1080px) {
    .articles li {
        width: 31.33%;
    }
}