$green: rgb(94,234,139);
$blue: rgb(13, 94, 229);
$black: rgb(30, 30, 29);

/*
.article {
    header {
        @include border-box();
        text-align: center;
        line-height: 1.5;

        ::selection {
            background: $blue;
        }

        h1 {
            margin: 0 auto;
            max-width: 95%;
            font-weight: 900;
            font-size: 3rem;
            color: $green;
            line-height: 1.1;
        }

        time {
            display: block;
            margin: 0.55rem auto;
            font-size: 1.25rem;
            font-weight: 700;
            color: rgb(36, 112, 231); 
        }
    }

    .content {
        margin: 0 auto;        
        max-width: 850px;
        width: 95%;

        ::selection {
            background: rgb(201, 140, 160);
        }

        p {
            margin-bottom: 0.55rem;
            line-height: 1.5;
            font-size: 1.15rem;
            font-weight: 600;
        }
    
        pre {
            font-size: 0.75rem;
        }
    }
}

@media (min-width: 620px) {
    .article header h1 {
        font-size: 5.5vw;
    }
}*/

.article {
    overflow: hidden;

    .e-header {
        @include border-box();
        margin: 2em 0;
        text-align: center;

        h1 {
            font-weight: 700;
            line-height: 1.3;
            color: $green;
            font-size: 3.25em;
            font-weight: 900;
            margin: 0 auto;
            max-width: 95%;
        }

        time {
            display: block;
            padding-top: 0.5em;
            font-weight: 700;
            font-size: 1em;
            line-height: 1.1;
            color: $blue;
        }
    }

    .e-content {
        color: $black;
        font-size: 1.3em;
        line-height: 1.5;
        margin: 0 auto;
        max-width: 850px;
        width: 93%;

        h2, h3, h4, h5, h6 {
            margin: 0 auto;
            max-width: 790px;
            color: rgb(18, 18, 18);
        }

        h2 {
            font-weight: 700;
            line-height: 1.1;
            font-size: 1.2em;
            padding: .7em 0 .25em;
        }

        p {
            margin: 0 auto;
            max-width: 790px;
            padding-bottom: 1.4em;
        }

        figure {
            margin: .2em 0 1.8em;

            img {
                display: block;
                margin: 0 auto;
                width: 100%;
            }
        }

        img {
            display: block;
            margin: 0 auto;
            width: 100%;
        }

        ul {
            margin: 0 auto;
            max-width: 790px;
            clear: both;
            padding: 0 .2em 1em;

            li {
                list-style: disc inside;
            }
        }

        /*li {
            color: #f8f8f8;
            line-height: 1.5;
            padding-bottom: .25em;
            position: relative;
        }*/

        pre + code {
            font-size: 1em;
        }
    }
}

@media (min-width: 620px) {
    .article {
        .e-header h1 {
            font-size: 7vw;
        }

        .e-content {
            font-size: 1.4em;
        }
    }
}
