.footer {
    @include border-box();
    font-size: 1.25rem;
    margin: 1.25rem auto;
    max-width: 750px;
    width: 98%;

    &:before {
        display: block;
        margin: 0 auto;
        content: "";
        width: 100%;
        height: 0.5rem;
        background: transparent url("/img/border.svg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    a {
        display: inline-block;
        font-size: 0.95rem;
        font-weight: 700;
        line-height: 1.15;
        padding: 0.55rem;
    }
}