.header {
    margin: 1.25rem auto;
    position: relative;
    text-align: center;

    .logo {
        display: block;
        margin: 0 auto;
        width: 550px;
        height: 150px;
        max-width: 95%;
        background: transparent url("/img/header.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .nav {
        font-size: 1.25rem;
        margin: 1.25rem auto;
        max-width: 750px;
        width: 98%;
    
        &:after {
            display: block;
            margin: 0 auto;
            content: "";
            width: 100%;
            height: 0.75rem;
            background: transparent url("/img/border.svg");
            background-repeat: no-repeat;
            background-size: 100% 100%;
        }

        ul {
            @include flexbox;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            
            li {
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;

                a {
                    line-height: 1.1;
                    font-weight: 700;
                    padding: 0.75rem 0.25rem;
                    -webkit-transition: color 0.25s;
                    transition: color 0.25s;
                    color: rgb(42, 117, 255);
                
                    &:hover,
                    &:focus {
                        color: rgb(13, 94, 229);
                    }
                }
            }
        }
    }
}

@media (min-width: 450px) {
    .header {
        .nav {
            font-size: 1.35rem;
        }
    }
}