* {
    margin: 0;
    padding: 0;
}

::selection {
    background: rgb(94,234,139);
    color: rgb(255,255,255);
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    font-family: "Open Sans", sans-serif;
    background: transparent url("/img/content-bg-tan.png");
    color: rgb(30, 30, 29);
}

a {
    text-decoration: none;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
    color: rgb(11, 125, 170);

    &:hover,
    &:focus {
        color: rgb(0, 123, 196);
    }
}